.masthead {
  grid-area: masthead;
  border-bottom: solid 1px $border-dark;
  background-color: $masthead-black;
  border-radius-topleft: 3px;
  border-radius-topright: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    margin-left: 15px;
    a {
      margin-left: 5px;
      text-decoration: none;
      color: white;
    }
    svg {
      color:$tangerine-orange;
    }
  }
  .nav {
    display: inline-block;
    list-style: none;
    li {
      display: inline-block;
      padding: 0 1.4em 0 0;
      font-size: 0.9em;
      a {
        text-decoration: none;
        color: white;
        background-color: transparent;
      }
      a.active {
        color: $active-red;
        border-bottom: 2px solid $active-red;
        font-weight: 300;
      }
      a:hover {
        color: $text-red;
      }
    }
  }
}